<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mbta.finder</title>
</head>
<body>
    <h1>MBTA Finder</h1>
    <form method="POST" name='mbta_finder'>
        {% if error %}
        <p style='color:royalblue'>This place does not have a MBTA station nearby>
        {% endif %}
    <p>Please enter a place name</p>
    <p>
        <input type="text" name='place'
        placeholder="enter here">
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
</body>
</html>